html, body {
	padding: 0px;
	margin: 0px;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #1f3b08; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #1f3b08 0%, #627d4d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1f3b08), color-stop(100%,#627d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #1f3b08 0%,#627d4d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #1f3b08 0%,#627d4d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #1f3b08 0%,#627d4d 100%); /* IE10+ */
	background: linear-gradient(135deg, #1f3b08 0%,#627d4d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3b08', endColorstr='#627d4d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.left  { float: left;  }
.right { float: right; }
nav.left  { border-bottom-right-radius: 5mm; }
nav.right { border-bottom-left-radius:  5mm; }

canvas {
	border: 1px black solid;
	background: #ffffff;
	margin: auto;
}

html > body > header {
	background: rgba(160,20,20,0.7);
	margin: 2mm;
	margin-bottom: 0px;
	padding: 2mm;
	padding-bottom: 0mm;
}
html > body > header > * {
	margin: 0px;
	padding: 0px;
	padding-bottom: 2mm;
}
html > body > header > h1 {
	border-bottom: 1px black solid;
	margin-bottom: 3mm;
}

html > body > nav {
	margin: 2mm;
	padding: 2mm;
	background: rgba(160,20,20,0.7);
}
html > body > nav > * {
	display: block;
}
html > body > nav > a {
	color: white;
}
html > body > nav > a:visited {
	color: #aaaaaa;
}
html > body > nav > a:focus,
html > body > nav > a:hover {
	color: #ffff77;
}

html > body > section {
	margin-top: 2mm;
	float: none;
	text-align: center;
}

table {
	text-align: left;
}
